{{ define "body" }}
  <h1 class="page-header">{{ .Title }}</h1>
  <code>Posted at {{ .CreatedAt }}</code>
  <p>{{ .Content }}</p>
  <!-- <h2>Comments</h2> -->
  <!-- <div class="media"> -->
  <!--   <div class="media-body"> -->
  <!--     <p>Great!</p> -->
  <!--   </div> -->
  <!-- </div> -->
  <!-- <div class="media"> -->
  <!--   <div class="media-body"> -->
  <!--     <p>Awesome!</p> -->
  <!--   </div> -->
  <!-- </div> -->
{{ end }}
